<!DOCTYPE html>
<html>

<head>


</head>

<body>
    <header>


    </header>
    <nav>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>
    <h1></h1>
    <figure></figure>
    <figcaption></figcaption>
    <main>
        <form method="post" name="register" id="register-form" class="form">
            <h2>Register</h2>
            <label for="first-name" form="register-form">First Name:</label>
            <input type="text" name="first-name" id="first-name">
            <label for="last-name" form="register-form">Last Name:</label>
            <input type="text" name="last-name" id="last-name">
            <label for="dob" form="register-form">DOB:</label>
            <input type="date" name="dob" id="dob">
            <label for="email" form="register-form">Email:</label>
            <input type="email" name="email" id="email">
            <label for="phone" form="register-form">Phone:</label>
            <input type="tel" name="phone" id="phone">

            <input type="submit">
            <input type="reset">

        </form>
    </main>
    <footer></footer>

</body>

</html>